@model IEnumerable<MiniStoreWeb.Data.Entities.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Libros</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Libro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-codigo="@item.Codigo" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Details" asp-route-codigo="@item.Codigo" class="btn btn-info btn-sm">Detalles</a>
                <a asp-action="Delete" asp-route-codigo="@item.Codigo" class="btn btn-danger btn-sm">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
